section#author
	.container
		h3.subtitle.author_subtitle О тренере
		.row
			.col-md-6.col-sm-5.photo_container
				img(src="img/janna_about.png", alt="Жанна Абрамова")#janna
			.col-md-6.col-sm-7
				#janna_about
					h4 Жанна Абрамова
					ul.about_list
						li Основатель «Академии Семьи и Брака»
						li Мастер практической психологии, факультет клинической психологии Академии при президенте РФ РАНХиГС
						li Специалист по метафорическим картам (МАК)
						li Системный расстановщик, изучала семейную психотерапию в ИИСТ
						li Процессор Техники РПТ (Саймон Роуз) , Тетахилинга (THInK)
						li Изучала гипнотерапию, Московский институт гипноза
						li Коуч, женский тренер, автор трансформационных программ «Анатомия Отношений», «Управление реальностью», «Мышление будущего», «От перца к сердцу», «Как получать подарки», «МАК – сам себе доктор», «Замуж за 2 недели», «Деньги в голове», «Дуэль с ленью», «Возврат ваших вложений», «Третий лишний или как устранить соперницу»
section#certs
	.container
		.owl-carousel.owl-theme#certs_carousel
			a(href="img/certs/cert_1.jpg" data-fancybox="certs")
				img(src="img/certs/cert_1_min.jpg", alt="Сертификат 1")
			a(href="img/certs/cert_2.jpg" data-fancybox="certs")
				img(src="img/certs/cert_2_min.jpg", alt="Сертификат 2")
			a(href="img/certs/cert_3.jpg" data-fancybox="certs")
				img(src="img/certs/cert_3_min.jpg", alt="Сертификат 3")
			a(href="img/certs/cert_4.jpg" data-fancybox="certs")
				img(src="img/certs/cert_4_min.jpg", alt="Сертификат 4")
			a(href="img/certs/cert_5.jpg" data-fancybox="certs")
				img(src="img/certs/cert_5_min.jpg", alt="Сертификат 5")
			a(href="img/certs/cert_6.jpg" data-fancybox="certs")
				img(src="img/certs/cert_6_min.jpg", alt="Сертификат 6")
			a(href="img/certs/cert_7.jpg" data-fancybox="certs")
				img(src="img/certs/cert_7_min.jpg", alt="Сертификат 7")
			a(href="img/certs/cert_8.jpg" data-fancybox="certs")
				img(src="img/certs/cert_8_min.jpg", alt="Сертификат 8")
			a(href="img/certs/cert_9.jpg" data-fancybox="certs")
				img(src="img/certs/cert_9_min.jpg", alt="Сертификат 9")
			a(href="img/certs/cert_10.jpg" data-fancybox="certs")
				img(src="img/certs/cert_10_min.jpg", alt="Сертификат 10")
			a(href="img/certs/cert_11.jpg" data-fancybox="certs")
				img(src="img/certs/cert_11_min.jpg", alt="Сертификат 11")