section#author
    .container
        h3.subtitle.author_subtitle О тренере
        .row
            .col-md-6.col-sm-5.photo_container
                img(src="img/janna_about.png", alt="Жанна Абрамова")#janna
            .col-md-6.col-sm-7
                #janna_about
                    h4 Жанна Абрамова
                    ul.about_list
                        li Основатель «Академии Семьи и Брака»
                        li Мастер практической психологии, факультет клинической психологии Академии при президенте РФ РАНХиГС
                        li Специалист по метафорическим картам (МАК)
                        li Системный расстановщик, изучала семейную психотерапию в ИИСТ
                        li Процессор Техники РПТ (Саймон Роуз) , Тетахилинга (THInK)
                        li Изучала гипнотерапию, Московский институт гипноза
                        li Коуч, женский тренер, автор трансформационных программ «Анатомия Отношений», «Управление реальностью», «Мышление будущего», «От перца к сердцу», «Как получать подарки», «МАК – сам себе доктор», «Замуж за 2 недели», «Деньги в голове», «Дуэль с ленью», «Возврат ваших вложений», «Третий лишний или как устранить соперницу»
