mixin fors(src,h4,p, cl)
    .for_container
        img(src= src, alt= h4).for_img(class= cl)
        p.for_title= h4
        p= p
section#for
    .container
        h3.subtitle Интенсив будет емким, серьезным и касающимся каждого!
        p.after_title За 3 дня с помощью Метафорических Ассоциативных Карт мы поднимем, найдем источник и путь решения множества глобальных жизненных проблем, связанных с телом
        .row
            .col-md-4.col-sm-4
                +fors('img/for_1.png','Болезни любого происхождения:', 'апатия и плохое самочувствие – это защитная реакция организма. От чего мы защищаемся и как выстроить альтернативную защиту?', 'for_img_first')
            .col-md-4.col-sm-4
                +fors('img/for_2.png','Отсутствие денег:', 'какой опыт нужно извлечь из безденежья и как договориться с деньгами, чтобы они начали приходить, а не «сбегать»', 'for_img_second')
            .col-md-4.col-sm-4
                +fors('img/for_3.png','Богатея, теряем здоровье и счастье?', 'Помогу найти выход из любой сложившейся ситуации. Техника "Замки и двери" обязательно подскажет как выбраться из безысходности', 'for_img_third')
        .row
            .col-md-2.col-sm-2
            .col-md-4.col-sm-4
                +fors('img/for_4.png','Почему прерывается род?', 'Бесплодие, выкидыши, детская смертность. Найдем причину отсутствия личной жизни и деток. Исцелим травму рода и собственной жизни', 'for_img_fourth')        
            .col-md-4.col-sm-4
                +fors('img/for_5.png','Мечты, желания, идеи, отношения, блага:', 'почему хотим, хотим и не получаем? Об этом и многом другом ты узнаешь на интенсиве...', 'for_img_fifth')
        button.button.button_for(data-toggle="modal" data-target="#myModalForm") Записаться
