section#mail_section
    .container
        .row
            .col-md-8.col-sm-6
                p.mail_title Интенсив стоит 
                    del 4 900 рублей
                    | , но сегодня Вы можете приобрести его 
                    span безоплатно
                    | . Спешите записаться!
            .col-md-4.col-sm-6
                button.button.button_mail(data-toggle="modal" data-target="#myModalForm") Записаться