section#main_screen
    .container
        include header
        .pre БЕСПЛАТНЫЙ 3-х ДНЕВНЫЙ ИНТЕНСИВ
        .pre_divider
        .pre_title Метафорические Ассоциативные Карты
        h1 «Отправная точка заболеваний»
        .date с 3 по 5 сентября
            span 19:00 мск
        p.author_main Автор курса: 
            span Жанна Абрамова
        .video_wrapper.video_wrapper_main
            iframe(src="https://www.youtube.com/embed/?rel=0&autoplay=0" allowfullscreen)
        img(src="img/janna_main.png", alt="Жанна Абрамова")#janna_main