section#plan
    .container
        h3.subtitle.plan_subtitle План интенсива
        .plan_day.plan_day_first
            .plan_day_img
            .plan_day_descript_container
                h3.plan_day_title День 1 
                    span - «Точка сборки заболеваний»
                p.plan_day_descript Можно сотню раз перечитать книжечку по психосоматике, узнать интерпретацию болячек, типа - «обиды, чувство неудовлетворенности, излишний контроль или сопротивление», но так до конца и не понять, что с этим всем набором делать. Откуда весь этот «букет» взялся, а главное, кому его передарить, чтобы не мешал жить здоровой жизнью
                p.plan_day_descript Болезнь не рождается сама по себе из “ниоткуда”. 
                    span Каждое заболевание - индикатор того, что где-то что-то пошло не так. 
                    | Но вот где и что? Я покажу вам технику МАК (Метафорические ассоциативные карты), через которую 
                    span вы сможете проанализировать точное событие
                    | , ставшее отправной точкой вашего недуга или заболевания
                p.plan_day_descript Практически невозможно вылечить физическое заболевание без осознания и проработки причины этого заболевания. Иначе оно как дятел будет долбиться, пока не услышать его посыл
                p.plan_day_descript 
                    span Психосоматика - не пустой звук современной медицины. 
                    | Научно доказана прямая связь психологического «сбоя» и возникновения заболевания
                p.plan_day_descript 
                    span Первый день будет посвящен точке сборки человека. 
                    | Я расскажу из каких пазлов собран человек и как перепутывание этих самых пазлов приводит порой даже к неизлечимым заболеваниям. 
                    span А так же дам технику, которой вы сможете пользоваться всю жизнь для диагностики причин заболевания 
                    | без нужды ковыряться в книжках, в которых ну никак не найти точного и четкого ответа именно по вашей ситуации
        .plan_day.plan_day_second
            .plan_day_img
            .plan_day_descript_container
                h3.plan_day_title День 2 
                    span - «Кто украл мои деньги»
                p.plan_day_descript Безденежье - не болезнь… 
                    span Увы, это болезнь и не только лично наша, но и родовая. 
                    | Часто человек бессилен перед безденежьем, потому что бессилен перед родовым безденежным сценарием.  Я не буду объяснять банальных вещей, типа, если в роду произошло раскулачивание или деньги ассоциировались с чем-то постыдным и трудным, то у потомков данного рода безденежье выступает как защита от потерь. Думаю, вам и так это очевидно. А вот что мне предстоит вам наглядно показать через технику МАК 
                    span «Денежный потолок»
                    | , так это то, на какой лимит вы можете рассчитывать по деньгам. Лично мне это очевидно при первом рассмотрении физиогномики человека, не говоря уже о том, если прочесть его историю. 
                    span Увы, денежный сценарий заложен в каждом из нас 
                    | и если получить/заработать денег чуть больше, чем заложено в сценарии, то мгновенно произойдет форс- мажор или непредвиденная материальная потеря
                p.plan_day_descript Итак, 
                    span задачей второго дня стоит разбор денежного сценария. 
                    | Как распознать истинную причину безденежья, а главное, как найти решение для ее устранения
        .plan_day.plan_day_third
            .plan_day_img
            .plan_day_descript_container
                h3.plan_day_title День 3 
                    span - «Личные границы»
                p.plan_day_descript Избыточный вес, аллергии, кожные заболевания, астматические компоненты, вегетососудистые заболевания, вирусы, бактерии, грибковые поражения, онкология, самооценка, достижение целей, вредные привычки, болезни позвоночника, коммуникации, мужско-женские отношения и многое другое 
                    span зависит от банальных личных границ
                p.plan_day_descript Для начала нам предстоит разобраться в том, что входит в понятие «личных границ». Это не только самозащита, самопроявление, самопозволение… 
                    span Это огромная тема, костяк нашей точки сборки. 
                    | Наша ость и опора. Мы уже рождаемся с неким набором защиты, и в течении жизни мы эту защиту либо теряем, либо наращиваем при помощи болезней. Наши заболевания – это наш костыль, при помощи которого мы «хромаем» по жизни. Давайте я вас научу «хромать» чуть по-другому
                p.plan_day_descript В 
                    span третьем дне приготовьте платочки, потому что слезок будет много. 
                    | Но по другому не получится всковырнуть тему личных границ. На мой взгляд это основная и первичная тема, с которой необходимо начать разбираться с заболеваниями и безденежьем. Уверена, после прохождения интенсива ваша жизнь никогда уже не будет прежней
                p.plan_day_descript 
                    span Поэтому освободите три вечера и приходите разбираться с темой заболеваний, безденежья, бесплодия, избыточного/недостаточного веса и всех волнующих вас вопросов
        button.button.button_plan(data-toggle="modal" data-target="#myModalForm") Записаться