#author
    width 100%
    padding 103px 0 73px
    background-image url(../img/author_bg.jpg)
    background-repeat no-repeat
    background-position: center
    background-size: cover
    overflow hidden
h3.author_subtitle
    color: rgb(29, 30, 45);
    line-height: 1.1;
    margin-bottom: 23px
.photo_container
    position relative
#janna
    position absolute
    top:  10px
#janna_about
    h4
        margin: 85px 0 45px
        font-size: 30px;
        color: rgb(179, 60, 46);
        line-height: 1.1;
        font-weight: normal
.about_list
    li
        list-style: none
        font-size: 18px
        margin-bottom: 15px;
        line-height: 1.4;
        padding-left: 27px
        background-image url(../img/red_disc.png)
        background-repeat no-repeat
        background-position: 0 11px