#author
    width 100%
    padding 103px 0 73px
    background-image url(../img/author_bg.jpg)
    background-repeat no-repeat
    background-position: center
    background-size: cover
    overflow hidden
h3.author_subtitle
    color: rgb(29, 30, 45);
    line-height: 1.1;
    margin-bottom: 23px
.photo_container
    position relative
#janna
    position absolute
    top:  10px
#janna_about
    h4
        margin: 85px 0 45px
        font-size: 30px;
        color: rgb(179, 60, 46);
        line-height: 1.1;
        font-weight: normal
.about_list
    li
        list-style: none
        font-size: 18px
        margin-bottom: 15px;
        line-height: 1.4;
        padding-left: 27px
        background-image url(../img/red_disc.png)
        background-repeat no-repeat
        background-position: 0 11px
#certs
    background-color: #181713
    padding 31px 0
#certs_carousel
    img
        height: 113px
        width: auto
        display block
        margin 0 auto
        border-radius: 5px;
        background-color: rgb(252, 69, 94);
        box-shadow: 0px 0px 7px 0px rgba(11, 11, 10, 0.6);
.owl-nav
    position: absolute
    top: 12%;
    left: -11px;
    right: 0;
    height: 0;
    width: 102%;
    margin-top: 0
.owl-theme .owl-nav [class*="owl-"]
    background: rgb(238, 195, 63);
    border-radius: 50%;
    box-shadow: 0px 0px 7px 0px rgba(11, 11, 10, 0.6);
    top: 5833px;
    width: 50px;
    height: 50px;
    line-height: 34px;
    font-size: 44px
    text-align: center
    font-family: 'OpenSansRegular', sans-serif
    color #1e2031
    &:hover
        background: #d7b005
        color #242323
.owl-prev
    float left
.owl-next
    float: right
    