#last
    width 100%
    padding 112px 0 101px
    background-image url(../img/last_bg.jpg)
    background-repeat no-repeat
    background-position: center
    background-size: cover
    overflow hidden
    text-align: center
.last_title
    font-size: 37px;
    color: rgb(238, 195, 63);
    line-height: 0.892;
    &+p
        font-size: 24px;
        color: rgb(255, 255, 255);
        line-height: 1.375;
        margin 33px auto 45px
        max-width 390px
.last_subtitle
    font-size: 30px;
    color: rgb(255, 255, 255);
    line-height: 1.1;
    margin-bottom 25px