#main_screen
	padding 0 0 85px
	width 100%
	background-image url(../img/main_bg.jpg)
	background-repeat no-repeat
	background-position: center top
	background-size: cover
	.container
		position relative
#header
	padding: 29px 0 20px
	overflow hidden
	z-index: 9
	position relative
#logo
	float: left
	width 220px
	height auto
.contacts
	float: right
	text-align: right
	line-height  12px
	a
		font-size: 10px
		.fa
			color: #FDC42B
			font-size: 18px
			margin: 0 15px 0  40px
			line-height: 12px
		.fa+span
			line-height: 12px
			font-size: 16px;
			font-family: "OpenSansLight", sans-serif;
			color: #fff
			text-align: right;
			&:hover
				text-decoration underline
.tel:first-child
	.fa-phone
		margin-left: 0
.pre
	text-align: center
	font-size: 22px;
	font-family: "OpenSansBold", sans-serif;
	color: rgb(251, 221, 131);
	line-height: 2
	margin: 72px 0 3px
.pre_divider
	background-color: #f3e4e4
	width: 8px
	height 8px
	border-radius: 50px
	margin 0 auto
	position relative
	&:before
	&:after
		content: ''
		display block
		width: 127px
		height 1px
		position: absolute
		top: 4px
		background-color: #f3e4e4
	&:before
		left -150px
	&:after
		right -150px
.pre_title
	font-size: 24px;
	color: rgb(255, 253, 246);
	line-height: 2;
	text-align: center;
	margin 36px 0 -21px
h1
	font-size: 48px;
	color: rgb(252, 204, 56);
	line-height: 1;
	text-align: center;
	margin-bottom: 72px
.date
	font-size: 29px;
	font-family: "BankirRetro", sans-serif;
	color: rgb(251, 250, 248);
	line-height: 1.345;
	text-align: center;
	span
		color #fccc38
		display block
		margin-bottom: 47px
.author_main
	font-size: 20px;
	font-family: "OpenSansSemiboldItalic", sans-serif;
	color: rgb(251, 250, 248);
	line-height: 2.4;
	text-align: center;
	span
		color #f1d47f
.video_wrapper_main
	position: absolute
	bottom: -36px;
	left: 12px;
	width: 362px;
	height 218px
#janna_main
	position: absolute
	bottom: -115px;
	right: -70px;