#plan
    width 100%
    padding: 109px 0 99px
    background-image url(../img/plan_bg.jpg)
    background-repeat no-repeat
    background-position  center top
    background-size: cover
h3.plan_subtitle
    color #fccc38
    margin-bottom: 80px
.plan_day
    border-radius: 5px;
    background-color: rgb(254, 254, 255);
    margin-bottom: 40px
    overflow hidden
.plan_day_img
    border-radius: 5px
    width: 296px;
    background-size: cover
    background-position: center top
    background-repeat no-repeat
    float left
    margin-right: 70px
.plan_day_first
    .plan_day_img
        height 632px
        background-image url(../img/day_1.jpg)
.plan_day_second
    .plan_day_img
        height 475px
        background-image url(../img/day_2.jpg)
.plan_day_third
    margin-bottom: 0
    .plan_day_img
        height 601px
        background-image url(../img/day_3.jpg)
.plan_day_descript_container
    padding 34px 70px 0
.plan_day_title
    font-size: 20px;
    color: rgb(37, 38, 55);
    line-height: 1.65;
    margin-bottom: 15px
    font-weight: normal
    span
        color #b03a2b
.plan_day_descript
    color: rgb(25, 26, 38);
    line-height: 1.625;
    margin-bottom: 11px
    span
        font-family: 'OpenSansBold', sans-serif
        letter-spacing: -0.4px;
    &:last-child
        margin-bottom: 0
.button_plan
    margin-top: 60px