#jannas_reveiws
    width 100%
    padding 58px 0 93px
    background-image url(../img/revs_bg.jpg)
    background-repeat no-repeat
    background-position: center
    background-size: cover
    overflow hidden
    .subtitle
        margin-bottom: 80px
.partner_button
    margin-bottom: 150px
#jannas_videos
    margin 49px auto 58px
    max-width: 1000px
    .owl-nav
        width: 105.3%
        left -30px
        top 36%
    img
    iframe
        border-radius: 10px;
#jannas_texts
    max-width: 1000px
    margin 0 auto
    .owl-nav
        width: 101.9%;
        left: -9px;
        top 22%
    img
        padding 5px
        border-radius: 5px
        box-shadow: 0px 1px 11.83px 1.17px rgba(0, 0, 0, 0.1);
        width: 90%
        display block
        margin 0 auto 10px
#jannas_texts
    .owl-height
        min-height: 168px
        padding: 10px 0