@media screen and (min-width 2400px)
    body
        font-size: 22px
    .container
        width: 1400px
    #main_screen
        padding-bottom: 130px
    .pre_title
    .plan_day_title
        font-size: 28px
    .video_wrapper_main
        bottom: -100px;
        left: 12px;
        width: 460px;
        height: 320px;
    #janna_main
        bottom -131px
    .author_main
        font-size: 23px
    .button
        font-size: 30px
    h1
        margin-bottom: 88px
    .after_title
        font-size: 24px
        max-width: 751px;
    .for_title
        font-size: 22px
    .plan_day_first .plan_day_img
        height 911px
    .plan_day_second .plan_day_img
        height 650px
    .plan_day_third .plan_day_img
        height 840px
    .about_list li
        font-size: 24px
    h3.subtitle
        font-size: 36px
    .mail_title
        font-size: 26px
    #janna
        top 222px
    .partner_button
        width: 360px
    .last_title+p
        font-size: 28px
    #footer #conditions, #footer p
    .alert_message
    .modal_soc_button
        font-size: 18px
    .checking .check_label
        font-size: 14px
    .contacts a .fa+span
        font-size: 19px
    .bonus_questions
        max-width 810px
        li
            font-size: 22px;
    #footer h5
        font-size: 30px
    .soc_buttons a .fa
        width: 45px
        height 45px
        line-height: 45px
        font-size: 28px
@media screen and (max-width 1199px)
    .contacts a .fa
        margin: 0 8px 0 15px
    .pre
        margin-top: 30px
    #janna_main
        bottom: -152px;
        right: -119px;
        width: 400px;
        z-index 0
    .author_main
        max-width 180px
        margin 0 auto
        line-height: 1.3
    .button
        width: 100%
        max-width 290px
    .plan_day_first .plan_day_img
        height 850px
    .plan_day_second .plan_day_img
        height 620px
    .plan_day_third .plan_day_img
        height 820px
    #janna
        top 135px
        left  -20px
    #jannas_videos .owl-nav
        left  -25px
@media screen and (max-width 991px)
    #header
        padding-top: 20px
    #logo
        float: none
        margin 0 auto 10px
        display block
    .contacts
        text-align: center
        float none
        a
            display: inline-block
            margin-bottom: 10px
    .pre
        margin-top: 0
    .pre_title
        margin-top: 15px
        line-height: 1.2
    h1
        margin-bottom: 30px
    .date span
        margin-bottom: 30px
    .video_wrapper_main
        position: relative
        max-width 450px
        width: 100%
        height auto
        z-index 99
        left 0
        bottom: 0
        margin-top: 40px
    .date
        margin-bottom: 10px
        span
            margin-bottom: 0
            display: inline-block
    .author_main
        max-width none
    .mail_title
        text-align: center
        margin-bottom: 20px
    #for
    #plan
    #author
    #last
        padding 60px 0
    h3.plan_subtitle
        margin-bottom: 40px
    .plan_day_descript_container
        padding: 35px
    .plan_day_first .plan_day_img
    .plan_day_second .plan_day_img
    .plan_day_third .plan_day_img
        margin: 35px 0 15px
        width: 265px
        height 300px
        background-size: contain
    #janna_about h4
        margin-top: 35px
    #janna
        top: 135px;
        left: -180px;
    .owl-nav
        left: -17px;
        width: 104%
    .partner_button
        margin-bottom: 60px
    #jannas_videos .owl-nav
        width: 106.8%;
        top: 29%;
    #jannas_texts .owl-height
        min-height 132px
    #jannas_texts .owl-nav
        top 17%
    #jannas_reveiws
        padding-bottom: 60px
    #footer
        padding 30px 0
@media screen and (max-width 767px)
    #janna_main
        display: none
    .modal-dialog
        max-width 450px
        margin 10px auto
    #for
        background-image: none
    .for_container
        max-width: 450px
        margin 0 auto 60px
    #janna
        position: static
        display block
        margin 0 auto 40px
        max-width 350px
        width: 100%
    #janna_about
        max-width 450px
        margin 0 auto
    .owl-nav
    #jannas_videos .owl-nav
    #jannas_texts .owl-nav
        position static
        width 150px
        margin 0 auto
        height auto
        overflow hidden
    #jannas_reveiws .subtitle
        margin-bottom: 40px
    #jannas_videos .owl-nav
        margin-top: 15px
    .about_list
        padding-left: 20px
    #vk_comments,
    #fb
        max-width 450px
        width 100%
        margin 0 auto
    #vk_comments
        margin-bottom: 20px
@media screen and (max-width 480px)
    #logo
        width: 180px
    .after_title
        margin-bottom: 40px
    .plan_day_descript_container
        padding 20px
    .plan_day_first .plan_day_img, .plan_day_second .plan_day_img, .plan_day_third .plan_day_img
        padding 25px 0 0
        width: 187px;
        height: 230px
    #jannas_texts .owl-height
        min-height 100px
    .modal_soc_buttons .col-xs-4
        width: 100%
        float: none
    .modal_soc_button
        display block
        margin 0 auto 10px
        width 200px
    .modal-dialog
        max-width 95%
@media screen and (max-width 426px)
    .contacts a .fa
    .contacts a .fa + span
        font-size: 14px
    .pre
        font-size: 20px
        line-height: 1.3
        margin-bottom: 10px
    .pre_divider:after, .pre_divider:before
        width: 100px
    .pre_divider:before
        left -110px
    .pre_divider:after
        right -110px
    .pre_title
        font-size: 20px
        margin-bottom: 10px
    h1
        font-size: 32px
        line-height: 1.3
        margin-bottom: 15px
    .date
        font-size: 22px
    .author_main span
        display: inline-block
    .video_wrapper_main
        margin-top: 20px
    #main_screen
        padding-bottom: 30px
    #author, #for, #last, #plan,#ht_feedback
        padding: 30px 0
    h3.subtitle
        font-size: 24px
    .after_title
        line-height: 1.3
    .last_title
        font-size: 32px
        line-height: 1.3
    .last_title + p
        font-size: 22px
        margin 20px auto
    .last_subtitle
        font-size: 24px
    #footer
        padding: 20px 0
    #modalForm h4
        margin-top: 40px
    #jannas_texts .owl-height
        min-height 90px
    #jannas_reveiws
        padding-bottom: 30px
    #jannas_videos
        margin: 30px auto
    .mail_title
        font-size: 20px
    .button_plan
        margin-top: 30px
    #janna_about h4
        margin 30px 0 20px
    .about_list
        li
            font-size: 16px
            padding-left: 15px
    .pre_title_bonus + h1
    .bonus_video_wrapper
    #ht_feedback .subtitle
        margin-bottom: 30px
    .bonus_questions li
        font-size: 18px
    .soc_buttons a
        margin: 10px 8px
    #footer h5
        margin-bottom: 10px
        font-size: 18px
    #footer #conditions, #footer p
        font-size: 12px
@media screen and (max-width 360px)
    .plan_day_first .plan_day_img, .plan_day_second .plan_day_img, .plan_day_third .plan_day_img
        float: none
        margin: 20px auto 0
    .plan_day_descript_container
        padding: 15px
    .plan_day_descript span
        word-wrap: break-word
    .about_list
        padding-left: 5px
    #jannas_texts .owl-height
        min-height 71px
    .form_newsletter input
        width: 100%
        max-width: 290px;